* {
    margin: 0;
    padding: 0;
}


body {
    width: 1020px;
    margin: 0 auto;
    
}

header {
    height: 89px;
    background-color: rgb(45, 48, 58);
    border-bottom: 6px solid rgb(50, 55, 70);
    background: url(../singolo1png.png) no-repeat;

}

h1 {
    display: inline;
    position: relative;
    top: 35px;
    left: 40px;
    text-indent: 20px;
}

nav {
    display: inline-block;
}

nav li {
    display: inline;
}